body{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #c8c8c8;
}
#Container{
    width: 400px;
	height: 400px;
	background-color: rgba(255,255,255,0.3);
	border-radius: 10px;
	margin: 0 auto;
	margin-top: 120px;
	text-align: center;
}
#center{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
input {
	height: 40px;
	width: 100%;
    margin-top: 30px;
	font-size: 18px;
	margin-bottom: 10px;
	background-color: #fff;
	padding-left: 40px;
	border: none;
	border-radius: 8px;
	background-repeat: no-repeat;
	background-position: 10px;
}
input.email {
	background-image: url(../img/icone-usuario.png);
}
input.senha {
	background-image: url(../img/icone-cadeado.png);
}
input.submit {
	color: #fff;
	background-color: #f79300;
	border-radius: 8px;
	border: 2px solid #db7d00;
	padding: 5px 20px;
	height: 45px;
	width: 90%;
}
.img1{
	width: 240px;
	height: 90px;
}
.linkpro{
	margin-top: 4%;
	text-decoration: none;
	color: #4CAF50;
}
.msg-aviso{
	color: red;
}
 /* Estilo da tela de carregamento */
 #loading {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #c8c8c8;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
}

#loading img {
	width: 50px;
	height: 50px;
	margin-bottom: 300px;
}

/* Estilo da página principal */
#content {
	display: none; /* Esconde o conteúdo inicialmente */
}